<%- include ("partials/header") %>



<form action="/login" method="post">

    <label for="name"> Username:</label>
    <input type="text" id="name" name="name"><br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password"><br><br>
    <input type="submit" value="Submit">

    
</form>


<%- include ("partials/footer") %>